<!DOCTYPE html>
<html>
	
	<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
	div#thanks{
	position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 30px;
   font-weight: bold;
}


</style>
	</head>
	<body style="background-color:#afa0ef">
		

			
		
		<div id="thanks" class="panel panel-default" style="width:500;">
		  <div class="panel-heading">Thank you!</div>
		  <div class="panel-body">Your walker will be contacting you soon</div>
		</div>
	</body>

</html>