<!DOCTYPE html>
<html lang="en">

<style>
.buttonAmir {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}
</style>

<head>
	<title>Companion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="public/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/css/util.css">
	<link rel="stylesheet" type="text/css" href="public/css/main.css">
<!--===============================================================================================-->

<!--===============================================================================================-->  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIMSU-28mt1Jv3wmzLZKAJfMj6LlTugtg&libraries=places&region=AU">
	</script>
<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
    </style>
</head>



<body style="background-color: #999999;">


	<script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      // function initAutocomplete() {
      //   var map = new google.maps.Map(document.getElementById('map'), {
      //     center: {lat: -33.8688, lng: 151.2195},
      //     zoom: 13,
      //     mapTypeId: 'roadmap'
      //   });

      //   // Create the search box and link it to the UI element.
      //   var input = document.getElementById('pac-input');
      //   var searchBox = new google.maps.places.SearchBox(input);
      //   map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      //   // Bias the SearchBox results towards current map's viewport.
      //   map.addListener('bounds_changed', function() {
      //     searchBox.setBounds(map.getBounds());
      //   });

      //   var markers = [];
      //   // Listen for the event fired when the user selects a prediction and retrieve
      //   // more details for that place.
      //   searchBox.addListener('places_changed', function() {
      
      //     var places = searchBox.getPlaces();

      //     if (places.length == 0) {
      //       return;
      //     }

      //     // Clear out the old markers.
      //     markers.forEach(function(marker) {
      //       marker.setMap(null);
      //     });
      //     markers = [];

      //     // For each place, get the icon, name and location.
      //     var bounds = new google.maps.LatLngBounds();
      //     places.forEach(function(place) {
      //       if (!place.geometry) {
      //         console.log("Returned place contains no geometry");
      //         return;
      //       }
      //       var icon = {
      //         url: place.icon,
      //         size: new google.maps.Size(71, 71),
      //         origin: new google.maps.Point(0, 0),
      //         anchor: new google.maps.Point(17, 34),
      //         scaledSize: new google.maps.Size(25, 25)
      //       };

      //       // Create a marker for each place.
      //       markers.push(new google.maps.Marker({
      //         map: map,
      //         icon: icon,
      //         title: place.name,
      //         position: place.geometry.location
      //       }));

      //       if (place.geometry.viewport) {
      //         // Only geocodes have viewport.
      //         bounds.union(place.geometry.viewport);
      //       } else {
      //         bounds.extend(place.geometry.location);
      //       }
      //     });
      //     map.fitBounds(bounds);
      //   });
      // }

     </script>

	
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/globe.gif');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" method="POST" action="/sendData">
					<span class="login100-form-title p-b-59">
						Welcome to Companion
					</span>

					<!-- NAME -->
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="nameData" placeholder="Name...">
						<span class="focus-input100"></span>
					</div>



					<!-- CURRENT LOCATION -->
					<div class="wrap-input100 validate-input" data-validate = "Current location is required">
						<!-- <button class="buttonAmir" type="button" onclick="alert('Share your location')">Current Location</button> -->

						<button class="buttonAmir" type="button" onclick="getLocation()"><b>Current Location</b></button>

						<p id="result"></p>
						<input type="hidden" name="lat" id='lat'>
						<input type="hidden" name="long" id="long">

						
						<script>
						var x = document.getElementById("result");
						
						function getLocation() {
						    if (navigator.geolocation) {
						        navigator.geolocation.getCurrentPosition(showPosition);
						    } else { 
						        x.innerHTML = "Geolocation is not supported by this browser.";
						    }
						}
						
						function showPosition(position) {
						    x.innerHTML = "Latitude: " + position.coords.latitude + 
						    "<br>Longitude: " + position.coords.longitude;
						    
						    $('#lat').val(position.coords.latitude);
						    $('#long').val(position.coords.longitude);
						}
						</script>


						<!-- <input class="input100" type="text" name="location" placeholder="Location..."> -->
						<span class="focus-input100"></span>
					</div>



					<!-- DESTINATION -->
					<div class="wrap-input100 validate-input" data-validate = "Destination is required">
						<!-- <button class="buttonAmir" type="button" onclick="window.open('https://www.maps.ie/coordinates.html','_blank');"><b>Destination</b></button> -->
						<!-- <input class="input100" type="text" name="location" placeholder="Location..."> -->
						Destination:<input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <input type="hidden" name="dest_lat" id="dest_lat">
            <input type="hidden" name="dest_long" id="dest_long">
					    <!-- <div id="map"></div> -->
					    <script>
					    
					    function init() {
							var input = document.getElementById('pac-input');
							 var autocomplete = new google.maps.places.Autocomplete(input);
//							var searchBox = new google.maps.places.SearchBox(input);

							autocomplete.addListener('place_changed', function() {

								alert('hello');
								var place = autocomplete.getPlace();
								console.log('place: ' + place);
								var lat=place.geometry.location.lat();
								var lon=place.geometry.location.lng();
                                console.log(lat);
                                console.log(lon);
                                $('#dest_lat').val(lat);
                                $('#dest_long').val(lon);


//							 	places.forEach(function(place){
//							 		if (!place.geometry) {
//						              console.log("Returned place contains no geometry");
//						              return;
//						            }
//						            console.log(place.geometry.location);
//						            var lat=place.geometry.location.lat();
//							 		var lon=place.geometry.location.lng();
//							 		console.log('lat', lat);
//							 		console.log('lon', lon);
//                  					$('#dest_lat').val(lat);
//                  					$('#dest_long').val(lon);
//							 	});
							 	
							});
							
							// autocomplete.addListener('places_changed', function() {
							// 	alert('hello');
							// 	var place = autocomplete.getPlace();
							// 	var lat=place.geometry.location.lat();
							// 	var lon=place.geometry.location.lng();
								
							// 	alert(lat,lon);
							// });
							
						}

					google.maps.event.addDomListener(window, 'load', init);
					</script>
						<span class="focus-input100"></span>
					</div>



					<!-- DATE & TIME-->
					<div class="wrap-input100 validate-input" data-validate = "Destination is required">
					
					  <label>Date: </label>
					  <input type="datetime-local" name="time">
					  <!-- <input type="submit"> -->
				
					</div>



			
					<!-- SUBMIT -->
					<div class="container-login100-form-btn">
						
							<!-- <button class="buttonAmir" onclick="window.open('http://www.republiquedesmangues.fr/','_blank');"> -->
							<button class="buttonAmir"  type="submit">
								<!-- <a href="http://www.republiquedesmangues.fr/"><font color="white";><b>Find Companion</b></font></a> -->
								<b>Find Companion</b>
							</button>
						

						<!-- <a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a> -->
					</div>



				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="public/vendor/bootstrap/js/popper.js"></script>
	<script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="public/vendor/daterangepicker/moment.min.js"></script>
	<script src="public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="public/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="public/js/main.js"></script>

	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIMSU-28mt1Jv3wmzLZKAJfMj6LlTugtg&libraries=places&callback=initAutocomplete" async defer></script>-->
	<!--<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>-->

	
    	

</body>
</html>